
nav{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    padding: 0 400px;
}
div{
    display: flex;
    padding-top: 100px;
    gap: 30px;
    justify-content: space-around;

   background-repeat: no-repeat;
   background-size: cover;
    padding-bottom: 200px;;
    
}
section{
    text-align: center;
    box-shadow: 0px 0px 20px;
    width: 300px;
    height: 400px;
    padding: 30px;
    background-color: white;
}
img{
    width: auto;
    height: auto;
    border-radius: 50%;
    padding-bottom: 5px;
}
h2{
    border: 2px solid red;
    width: 80px;
    margin: auto;
   border-radius: 20px;
   background-color: rgb(71, 179, 163)}
